<div id="<%= dom_id tutor_schedule %>">
  <p>
    <strong>Tutor:</strong>
    <%= tutor_schedule.tutor_id %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= tutor_schedule.start_time %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= tutor_schedule.active %>
  </p>

</div>
