<h1>Editing tutor schedule</h1>

<%= render "form", tutor_schedule: @tutor_schedule %>

<br>

<div>
  <%= link_to "Show this tutor schedule", @tutor_schedule %> |
  <%= link_to "Back to tutor schedules", tutor_schedules_path %>
</div>
