<!--<div class="row">-->
<!--  <div class="col col-3">-->
<!--    <div class="search">-->
<!--      <label style="width: 100px">수업 길이 선택:</label>-->
<!--      <select id="lessons_type" name="lesson_type" style="width: 200px" >-->
<!--        <option value="1">20분</option>-->
<!--        <option value="2">40분</option>-->
<!--      </select>-->
<!--      <br><br>-->
<!--      <label for="lesson_date" style="width: 100px">날짜 선택: </label>-->
<!--      <input type="date" id="current_date" style="width: 200px" min="<%#= @today %>" value="<%#= @today %>" />-->
<!--    </div>-->
<!--    <br>-->
<!--    <div class="search">-->
<!--      <label style="width: 100px"> 튜터 선택:</label>-->
<!--      <select id="tutor" name="tutors" style="width: 200px">-->
<!--        <option value="1">20분</option>-->
<!--        <option value="2">40분</option>-->
<!--      </select>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col col-6 calendar-week-table">-->
<!--    <table class="bbs_table">-->
<!--      <thead>-->
<!--      <tr class="schedule_lst">-->
<!--        <th scope="col">start_time</th>-->
<!--        <th scope="col">일</th>-->
<!--        <th scope="col">월</th>-->
<!--        <th scope="col">화</th>-->
<!--        <th scope="col">수</th>-->
<!--        <th scope="col">목</th>-->
<!--        <th scope="col">금</th>-->
<!--        <th scope="col">토</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--        <tr>-->
<!--          <td>00:00</td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td>00:30</td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td>01:00</td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td>01:30</td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td>02:00</td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td>02:30</td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--        </tr> <tr>-->
<!--          <td>03:00</td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--        </tr> <tr>-->
<!--          <td>03:30</td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--        </tr> <tr>-->
<!--          <td>04:00</td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td>04:30</td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td>05:00</td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--          <td> </td>-->
<!--        </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--  </div>-->
<!--</div>-->


