<%# if @mode=='time' %>
  <%#= render "schedule_by_time" %>
<%# elsif @mode=='tutor' %>
  <%#= render "schedule_by_tutor" %>
<%# else %>
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col col-5">-->
<!--        <div class="shadow-sm bg-write mode">-->
<!--          <img src="/assets/time-first.svg" style="width: 42px; margin-bottom: 13px;">-->
<!--          <br>-->
<!--          <div class="text-h3 font-medium" style="margin-bottom: 5px;">시간 먼저 선택</div>-->
<!--          <br>-->
<!--          <div>원하는 수업 시간을 먼저 선택할 수 있습니다.</div>-->
<!--          <br>-->
<!--          <a href="?mode=time">예약하기</a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col col-5">-->
<!--        <div class="shadow-sm bg-write mode">-->
<!--          <img src="/assets/tutor-first.svg" style="width: 42px; margin-bottom: 13px;">-->
<!--          <br>-->
<!--          <div class="text-h3" style="margin-bottom: 5px;">튜터 먼저 선택</div>-->
<!--          <br>-->
<!--          <div>원하는 튜터를 먼저 선택할 수 있습니다.</div>-->
<!--          <br>-->
<!--          <a href="?mode=tutor">예약하기</a>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div><br><br>-->
<!--    <div class="row">-->
<!--      <h3> 예약 완료 테이블 </h3>-->
<!--      <table class="bbs_table">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th scope="col">튜터 이름</th>-->
<!--          <th scope="col">수업 시작 시간</th>-->
<!--        </tr>-->
<!--        </thead>-->
        <%# @reserved_schedules.each do |reserved_schedule| %>
<!--          <tbody>-->
<!--            <tr>-->
<!--              <th> <%#= @tutor_name %></th>-->
<!--              <th><%#= reserved_schedule.start_time %></th>-->
<!--            </tr>-->
<!--          </tbody>-->
<!--        </table>-->
        <%# end %>
<!--    </div>-->
<!--  </div>-->
<%# end %>



<div class="row">
  <div class="col col-4">
    <div class="col">
<!--      <div class="row">-->
<!--        <p>튜터 먼저 선택</p>-->
        <%#= render "schedule_by_tutor" %>
<!--      </div>-->
<!--      <br><br>-->
<!--      <div class="row">-->
<!--        <p>시간 먼저 선택</p>-->
        <%#= render "schedule_by_time" %>
<!--      </div>-->
<!--      <br><br>-->
      <div class="row">
        <%= render "schedule_by_all" %>
      </div>
    </div>
  </div>
  <br>
  <div class="col col-6">
    <table class="bbs_table">
      <thead>
      <tr>
        <th scope="col">튜터 이름</th>
        <th scope="col">수업 시작 시간</th>
        <th scope="col">가능 여부</th>
        <th scope="col">예약 버튼</th>
      </tr>
      </thead>
      <% if @schedules %>
        <tbody>
          <% @schedules.each do |schedule| %>
            <tr>
              <td> <%= schedule['tutor_name'] %> </td>
              <td> <%= schedule['start_time'] %> </td>
              <% if schedule['active'] === 1 %>
                <td> Available </td>
                <td><%= button_to '예약하기', student_lessons_schedule_enter_path, method: :post, params: {tutor_id: schedule["tutor_id"], lesson_type: @lessons_type, start_time: schedule["start_time"], user_id: current_user.id} %></td>
              <% else %>
                <td> Unavailable </td>
                <td>예약 할 수 없음</td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      <% else %>
        <tbody>
          <tr> <td>조회 데이터가 없습니다. </td> </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>